<table class="table table-stripped">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>State</th>
            <th>City</th>
            <th>Pincode</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of PersonalList">
            <td>{{dataItem.CustomerId}}</td>
            <td>{{dataItem.FirstName}}</td>
            <td>{{dataItem.Age}}</td>
            <td>{{dataItem.Gender}}</td>
            <td>{{dataItem.PhoneNumber}}</td>
            <td>{{dataItem.Address}}</td>
            <td>{{dataItem.State}}</td>
            <td>{{dataItem.City}}</td>
            <td>{{dataItem.PinCode}}</td>


        </tr>
    </tbody>
</table>
