.buttonstyle{
  border: 1px solid grey;
}

.tp-container{
  width:400px;
  align-items:center;
}

p{
  height: 45px;
}
.errorstyle
{
  background-color: tomato;
}
.stylelogin{
  text-align: center;
  width: 450px;
  height: 300px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  border: 1px solid blueviolet;
  
}
/*
mat-card{
  text-align: center;
  width: 450px;
  height: 300px;
  display: block;
  margin-left:auto;
  margin-right:auto;  
  text-align: center;
  vertical-align:middle;
  
}*/
mat-form-field{
  width: 300px;
}