<div>
<p class ="emptyptag">

</p>
<mat-card style="text-align:center; border: 1px solid blueviolet;" class="stylelogin">
    <div class = "tp-container">
      <mat-card-title>USER LOGIN</mat-card-title><br>
      <mat-form-field appearance = "outline">
        <mat-label>User Name</mat-label>
         <input [(ngModel)]='username'  matInput placeholder = "Enter User Name">
      </mat-form-field><br>
      <mat-form-field appearance = "outline">
        <mat-label>Password</mat-label>
       
        <input matInput placeholder = "Enter Password" [type]="hide ? 'password' : 'text'" [(ngModel)]='password'  required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
      </mat-form-field><br>
    
      <div>
        <button mat-flat-button class="buttonstyle" (click)="userValidation()">Submit</button>
      </div>
      
    </div>
    <br>
    <div>
    
      <!--
    <p class="alert alert-failure" *ngIf="result==0">
        <mat-card class="errorstyle">
        <strong>Invalid User name and Password!</strong>
    </mat-card>
    </p>-->
</div>  
    </mat-card>

    
    
