<mat-card >
  <img mat-card-image src="assets/images/own-your-dream-ride.jpg" alt="Own Your Dream Ride">
</mat-card>
<mat-card class="card">
    <img mat-card-image src="assets/images/loanprocess.PNG" alt="Steps"/>
  </mat-card>

<mat-card class = "content" >
    <mat-card-header>
         
      <mat-card-title><h1>Car Loan</h1></mat-card-title>
      
    </mat-card-header>
   
    <mat-card-content>

        <p>
            Dreaming of owning a car? The Car Loan  aims to ensures that you drive around the city in your own vehicle! Avail a car loan and get the best interest rates. New Car Loan offers car loans upto 100% on-road price along with benefits. Before applying for a car loan online, make sure to use the car loan calculator to find out your EMI. Apply for a New Car Loan and make your dream of owning a car come true.
        </p>

      <p>
        We offer you the best car loans worth up to 100% of the on-road price of the car you choose to buy, along with attractive interest rates and tenure.
      </p>
      <p>
        Apply Now to get an instant approval of Car Loan
    </p>

    <a mat-raised-button color="accent">Apply Loan</a>  
    </mat-card-content>
 
  </mat-card>

  <mat-card >

  </mat-card>



  
