<div style="padding-top: 50px;">
    
    <h1 style="text-align: center;">PERSONAL DETAILS</h1>

</div>
<div>
<mat-card style="border: 1px solid blueviolet;">
<table class="table table-stripped">
    <tbody *ngFor="let dataItem of UserPersonalDetailsList">
        
           <tr><b><td>Customer ID</td></b>
            <td>{{dataItem.CustomerId}}</td></tr>
            
        <tr>
        <b><td>First Name</td></b>
            <td>{{dataItem.FirstName}}</td></tr>

        <tr>
        <b><td>Age</td></b>
            <td>{{dataItem.Age}}</td></tr>
            
        <tr>
        <b><td>Gender</td></b>
            <td>{{dataItem.Gender}}</td></tr>

        <tr><b><td>Phone Number</td></b>
            <td>{{dataItem.MobileNumber}}</td></tr>

        <tr><b><td>Address</td></b>
            <td>{{dataItem.Address}}</td></tr>

        <tr> <b> <td>State</td></b>
            <td>{{dataItem.State}}</td></tr>

        <tr><b> <td>City</td></b>
            <td>{{dataItem.City}}</td></tr>

        <tr> <b> <td>Pincode</td></b>
            <td>{{dataItem.PinCode}}</td></tr>

        
       
    </tbody>
</table>
</mat-card>
</div>