<table class="table table-stripped">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Loan Amount</th>
            <th>Loan Tenure</th>
            <th>Rate Of Interest</th>
            <th>Loan Status</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of LoanForApprovalList">
            <td>{{dataItem.CustomerId}}</td>
            <td>{{dataItem.LoanAmount}}</td>
            <td>{{dataItem.LoanTenure}}</td>
            <td>{{dataItem.RateOfInterest}}</td>
            <td>{{dataItem.LoanStatus}}</td>
          
            <td>
                <a  mat-raised-button color="success" (click)="Approve(dataItem.CustomerId)" >Approve</a> 
              
                <a mat-raised-button color="warn" (click)="Reject(dataItem.CustomerId)">Reject</a> 
            </td>

        </tr>
    </tbody>
</table>




