
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Overview</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/loanpic.jpg" alt="Vehicle Loan" width="100px" height="300px" align="right">
    <mat-card-content>
      <p>
        Easy and flexible finance options for vehicles, ranging from two wheelers, cars, commercial vehicles, earth movers to farm equipment.
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="card">
    <img mat-card-image src="assets/images/loanprocess.PNG" alt="Steps"/>
  </mat-card>
  
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title><h2>Eligibility</h2></mat-card-title>
      <mat-card-subtitle>Salaried Individuals​​</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
        <ul>
          <li>This includes employees of private limited companies, employees from public sector undertakings, including central, state and local bodies</li>
          <li>Individuals who are a minimum of 21 years of age at the time of applying for the loan, and no older than 60 at the end of the loan tenure</li>
          <li>Individuals who have had a job for at least 2 years, with a minimum of 1 year with the current employer</li>
          <li>Those who earn a minimum of Rs. 3,00,000 per year, including the income of the spouse/co-applicant</li>
          <li>Individuals who have a telephone/post-paid mobile</li>

        </ul>
      </mat-card-content>
      <mat-card-header>
      <mat-card-subtitle>Self Employed Individuals and Professionals (Sole Proprietorship)</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
        <ul>
          <li>This includes self-employed sole proprietors in the business of manufacturing, trading or services</li>
          <li>Individuals who are a minimum of 21 years of age at the time of applying for the loan, and no older than 65 at the end of the loan tenure</li>
          <li>Those who have been in business for a minimum of 2 yearss</li>
          <li>Should earn at least Rs. Rs. 3,00,000 per annum</li>
        </ul>
      </mat-card-content>

      <mat-card-header>
        <mat-card-subtitle>Self Employed Individuals and Professionals (Partnership Firms)</mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <ul>
            <li>This includes self-employed partners in the business of manufacturing, trading or services</li>
            <li>Those who have a minimum turnover of Rs. Rs. 3,00,000 per annum</li>
            
          </ul>
        </mat-card-content>
        <mat-card-header>
        <mat-card-subtitle>Self Employed Individuals and Professionals (Private Limited Companies)</mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <ul>
            <li>This includes individuals who own a private company in the business of manufacturing, trading or services</li>
            <li>Should earn at least Rs. Rs. 3,00,000 per annum</li>
            
          </ul>
        </mat-card-content>
   
        <mat-card-header>
            <mat-card-subtitle>Self Employed Individuals (Public Limited Companies)</mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <ul>
                <li>This includes directors in public limited companies that are in the business of manufacturing, trading or services</li>
                <li>Should earn at least Rs. Rs. 3,00,000 per annum</li>
                
              </ul>
            </mat-card-content>
  </mat-card>
  
  
  <mat-card class="parent">
    <mat-card-header>
      <mat-card-title><h2>Documents Needed</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="child">
      <img mat-card-sm-image src="assets/images/kyc.png" title="KYC">
      <h2>KYC</h2>
      </mat-card>
      <mat-card class="child">
        <img mat-card-sm-image src="assets/images/photo.jpg" title="KYC">
        <h2>Passport Size Photo</h2>
        </mat-card>
      <mat-card class="child">
        <img mat-card-sm-image src="assets/images/bankst.png" title="KYC">
        <h2>Bank Statement</h2>
        </mat-card>
        <mat-card class="child">
          <img mat-card-sm-image src="assets/images/slip.png" title="KYC">
          <h2>Salary Slips or ITR</h2>
          </mat-card>
    </mat-card-content>
  </mat-card>
  
